<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogger</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
      integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="pure-g">
    <header class="pure-u-1">
      <h1 class="pure-u-1-2">
        Blogger
      </h1>

      <nav class="flex-grid navbar">

        {{#if logged_in}}
          <a href="/" class="col-2 col-12-md logo">Homepage</a>
          <a href="/dashboard">Dashboard</a>

          <button id="logout" class="button">Logout</button>
        {{else}}
          <a href="/">homepage</a>
          <a href="/login" class="btn" id="login">login</a>

        {{/if}}

      </nav>

    </header>

    <main>
      {{{body}}}
    </main>

    <footer class="footer pure-u-g">
      <p>
        &copy Blogger
      </p>
    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>