<div>
    <button id="new-post-form" class="button is-pulled-right"><a href="/dashboard/newPost"></a>Create a new post</a></button>
    <h2 class="title">Dashboard</h2>
    <hr>
    {{#if posts.length}}
</div>

{{#each posts as |post|}}

{{> postDetails post}}
${userpost}

{{{newpost}}}

<a href="/dashboard/edit/post/{{post.id}}"><button class="button">Edit post</button></a>
</div>
{{/each}}

{{else}}
<h5 class="has-text-centered">Create your first post</h5>

{{/if}}

<script src="/js/createPost.js"></script>