<section>
  <h2 class="title">Create A New Post</h2>

  <div class="post-form">
    <div>
      <label for="title">Title</label>
      <input class="input" type="text" id="title" name="title" />
    </div>
    <div>
      <label for="post">Post</label>
      <input
        class="textarea is-large"
        id="text"
        name="text"
        placeholder="Create Your Post"
      />
    </div>
    <button type="submit" class="button" id="postBtn">Create</button>
  </div>
</section>

<script src="/js/writePost.js"></script>